@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    border: none;
    padding: none;
    margin: 0;
}
body {
    font-family: 'Bebas Neue', sans-serif;
}

/* header*/
#logo {
    text-align: center;
    background-color: black;
    height: 150px;
}