@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,200&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #252323;
}

/* header*/
#logo {
    text-align: center;
    background-color: black;
    height: 150px;
    font-size: 250%;
    width: 100%;
}
#logo a {
    text-decoration: none;
}
h1 , h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color: black;
}
.main-title {
    color: white;
    line-height: 150px;
}
#menu {
    width: 100%;
    font-size: 120%;
    text-align: center;
}
#menu a {
    text-decoration: none;
}
#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
}

#menu h2:hover {
    border-bottom: 1px solid black;
}
.current {
    border-bottom: 1px solid black;
}

/*food image and site creed*/
#society-creed {
    height: 550px;
    margin-top: 3%;
    display: block;
}

#left {
    width: 50%;
    height: 550px;
    float: left;
}
#left-image {
    background-image: url('../images/hamburger.jpg');
    background-size: 100% 100%;
    height: 550px;
}
#right {
    float: right;
    width: 50%;
    height: 300px;
    padding-top: 250px;
}
.heading {
    text-align: center;
}
#right h2 {
    font-size: 200%;
}
 /* About Us section*/

#about {
    height: 500px;
    background-color: black;
}
.about-title {
    color: white;
    font-size: 300%;
    border-bottom: 2px white solid;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}
section p {
    font-size: 150%;
    color: white;
    margin-top: 20px;
}
#benefit {
    margin-top: 30px;
}
.lists {
    color: white;
    margin-top: 20px;
    margin-left: 280px;
}
/*Footer*/
#footer {
    height: 150px;
}
.social-media{
    text-align: center;
}
.social-media > li {
    display: inline;
}
.social-media i {
    font-size: 200%;
    padding: 3% 3% 1% 3%;
    color: black;
}
i:hover {
    border-bottom: red solid 1px;
}